.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}
.content_box {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    margin-top: 270px;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
}